@font-face {
    font-family: Play;
    src: url(./src/Play.ttf);
}

body {
    background-image: url('./src/redo-green.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0 0 0 0;
    font-family: Play;
}

.zolkin {background-image: url('./src/zolkin-green.png');}
.server {background-image: url('./src/minecraft-green.png');}

.header {
    width: 100%;
    display: grid;
    grid-template-areas: 
        "items title"
        "items zolkin";
    grid-template-columns: 15% 85%;
    justify-items: center;
    align-items: center;
    grid-template-rows: max-content max-content max-content;
}

.headerTitle {
    font-size: 400%;
    color: #e73f10;
    padding: 1% 0 1% 0;
    text-decoration: none;
    grid-area: title;
}

.headerImage {
    width: 30%;
    align-self: start;
    grid-area: zolkin;
}

.headerItems {
    width: 15%;
    height: 100%;
    position: fixed;
    align-self: start;
    justify-self: start;
    background-color: #ee7107;
    grid-area: items;
    display: grid;
    grid-template-rows: 20% 80%;
    align-items: center;
    justify-items: center;
    animation: startAnim;
    animation-duration: 1s;
}

.headerItems_items {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 40%;
    animation: startAnimItems;
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.iitems {
    width: 100%;
    padding: 8% 0 8% 0;
    background: none;
    border: none;
    font-size: 2vw;
    font-weight: 900;
}

.iitems:hover {
    cursor: pointer;
    background-color: #ee3d07;
}

.headerItems_logo {
    width: auto;
    animation: startAnimImage;
    animation-duration: 1.1s;
    animation-fill-mode: forwards;
}
.headerItems_logo > img {width: 100%;}

@keyframes startAnim {
    0% {width: 100%;}
    30% {width: 100%;}
    100% {width: 15%;}
}
@keyframes startAnimItems {
    100% {opacity: 1;}
}
@keyframes startAnimImage {
    90% {width: auto;}
    100% {width: 90%;}
}

.labs, .links, .minecraft { width: 85%; float: right;}

/* Лабы */

.labs {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.labsItem {
    width: 97%;
    display: grid;
    grid-template-columns: 25% 10% 65%;
    border-color: black;
    border-style: solid;
    border-width: .4vw;
    margin-top: 1%;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    transition: transform;
    transition-duration: 200ms;
}

.labsItem:hover {transform: scale(1.01);}

.labsItem > img {width: 90%; padding: 2% 0 2% 0;}
.labsItem:nth-child(6) > img {width: 40%;}
.labsItem:nth-child(7) > img {width: 40%;}
.labsItem > h1 {
    color: black;
    font-size: 2.5vw;
}
.labsItem > h2 {
    color: #ee3d07;
    font-size: 5.5vw;
    font-weight: 900;
    margin: 0 0 0 0;
}

/* Ссылки */

.links {
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-items: center;
}
.links_zolkin, .links_vk, .links_discord {
    border-color: black;
    border-style: solid;
    border-width: .3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
    background-color: #ee730796;
    text-decoration: none;
    transition: transform;
    transition-duration: 200ms;
}
.links_zolkin:hover, .links_vk:hover, .links_discord:hover {transform: scale(1.03);}
.links_image {width: 95%; padding-bottom: 2%;}
.links_title {color: black;}

.nope {display: none;}